@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
}
.title {
  @apply text-4xl text-white font-bold;
}

.primary-button {
  @apply border border-red-300 px-3 py-6 font-bold text-xl hover:bg-red-300;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
