@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.title {
  @apply text-4xl text-white font-bold ;

}

.primary-button {
  @apply border border-red-300 px-3 py-6 font-bold text-xl hover:bg-red-300
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
